# Movie Lens Recommender - Big Data Framework Project
Date : 08/01/2023

Hadi Jamal Ahmad - Julie Ngan - M2 BDML-APP

### EFREI Paris


The goal is to build a model (ANNOY) to recommend movies to a watcher. 

There are two types of recommendations : 
- Content-based filtering : recommend to a watcher based on what he already watches
- Collaborative filtering : recommend a watcher based on what others might like whore are near to him in preferences.

For this project we use PySpark. 

Our IMBD dataset contains :

- Movies Metadata
- Credits
- Links
- Ratings
- Keywords

For this project, drag and drop the csv into a data folder

1. Make a good analysis of the dataset.
2. Build regression models to predict movie revenue and vote
averages.
3. Use collaborative filtering to build a movie recommendation
system with two functions:
3.1 Suggest top N movies similar to a given movie title.
3.2 Predict user rating for the movies they have not rated for. You
may use a test set to test your prediction accuracy, in which
the test ratings can be regarded as not rated during training .

In [ ]:
!pip install koalas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting koalas
  Downloading koalas-1.8.2-py3-none-any.whl (390 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 390.8/390.8 KB 19.5 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.8/dist-packages (from koalas) (1.3.5)
Requirement already satisfied: pyarrow>=0.10 in /usr/local/lib/python3.8/dist-packages (from koalas) (9.0.0)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.8/dist-packages (from koalas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23.2->koalas) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23.2->koalas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.2->koalas) (1.15.0)
Installing collected packages: koalas
Successfully installed koalas-1.8.2

### 1. Analysis

In [1]:
import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"
os.environ["SPARK_VERSION"] = "3.0.1"                          #your SPARK_VERSION

In [2]:
!wget -q https://archive.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz

In [3]:
!tar xf spark-3.0.1-bin-hadoop3.2.tgz

In [4]:
!pip install -q findspark

In [5]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [8]:
import pandas as pd

def read(filename):
  return (spark.read.format("csv").options(header="true")
    .load(filename))

Preprocessing

In [6]:
# dropna
def missing_values(sparkdf):
  sparkdf.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in sparkdf.columns if c != 'Date']).show()

import numpy as np
from pyspark.sql import functions as F
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler

#https://medium.com/@connectwithghosh/basic-data-preparation-in-pyspark-capping-normalizing-and-scaling-252ee7acba7d
#TODO : finish
# normalize if not same magnitude
def normalize(df_new):
  assembler = VectorAssembler().setInputCols\
              (df_new.columns).setOutputCol("features")
  transformed = assembler.transform(df_new)
  scaler = MinMaxScaler(inputCol="features",\
          outputCol="scaledFeatures")
  scalerModel =  scaler.fit(transformed.select("features"))
  scaledData = scalerModel.transform(transformed)
  return scaledData

# correlation between imbd and tmbd
# avg ratings

#### Ratings

Choses à faire dans l'analyse :
- Regarder la distribution des valeurs de notes
- Le prendre en compte pour l'échantillon de recommendations
Par exemple, 3/5 sera la médiane.

In [9]:
ratings = read("ratings_small.csv")

In [10]:
ratings.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|     31|   2.5|1260759144|
|     1|   1029|   3.0|1260759179|
|     1|   1061|   3.0|1260759182|
|     1|   1129|   2.0|1260759185|
|     1|   1172|   4.0|1260759205|
|     1|   1263|   2.0|1260759151|
|     1|   1287|   2.0|1260759187|
|     1|   1293|   2.0|1260759148|
|     1|   1339|   3.5|1260759125|
|     1|   1343|   2.0|1260759131|
|     1|   1371|   2.5|1260759135|
|     1|   1405|   1.0|1260759203|
|     1|   1953|   4.0|1260759191|
|     1|   2105|   4.0|1260759139|
|     1|   2150|   3.0|1260759194|
|     1|   2193|   2.0|1260759198|
|     1|   2294|   2.0|1260759108|
|     1|   2455|   2.5|1260759113|
|     1|   2968|   1.0|1260759200|
|     1|   3671|   3.0|1260759117|
+------+-------+------+----------+
only showing top 20 rows

In [11]:
ratings.count()

100004

In [12]:
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import desc, stddev, mean, min, max
from pyspark.sql.functions import col,isnan, when, count
from scipy.stats import pearsonr
from pyspark.mllib.stat import Statistics

missing_values(ratings)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     0|      0|     0|        0|
+------+-------+------+---------+

### Distribution des valeurs des notes

Ratings vary from 0.5 which means the watcher hated the movie, to 5

There are 100 004 movies and watchers

In [13]:
ratings.summary().show()

+-------+------------------+------------------+------------------+--------------------+
|summary|            userId|           movieId|            rating|           timestamp|
+-------+------------------+------------------+------------------+--------------------+
|  count|            100004|            100004|            100004|              100004|
|   mean| 347.0113095476181|12548.664363425463| 3.543608255669773|1.1296390869392424E9|
| stddev|195.16383797819535|26369.198968815268|1.0580641091070326|1.9168582602710962E8|
|    min|                 1|                 1|               0.5|          1000003813|
|    25%|             182.0|            1028.0|               3.0|        9.65846894E8|
|    50%|             367.0|            2406.0|               4.0|       1.110421811E9|
|    75%|             520.0|            5418.0|               4.0|       1.296192325E9|
|    max|                99|             99992|               5.0|           999892199|
+-------+------------------+------------------+------------------+--------------------+

Keywords

In [14]:
keywords = read("keywords.csv")

Keywords is a list of Key/value tuples

In [15]:
keywords.show()

+-----+--------------------+
|   id|            keywords|
+-----+--------------------+
|  862|[{'id': 931, 'nam...|
| 8844|"[{'id': 10090, '...|
|15602|[{'id': 1495, 'na...|
|31357|[{'id': 818, 'nam...|
|11862|[{'id': 1009, 'na...|
|  949|[{'id': 642, 'nam...|
|11860|[{'id': 90, 'name...|
|45325|                  []|
| 9091|[{'id': 949, 'nam...|
|  710|[{'id': 701, 'nam...|
| 9087|[{'id': 833, 'nam...|
|12110|[{'id': 3633, 'na...|
|21032|[{'id': 1994, 'na...|
|10858|[{'id': 840, 'nam...|
| 1408|[{'id': 911, 'nam...|
|  524|[{'id': 383, 'nam...|
| 4584|[{'id': 420, 'nam...|
|    5|"[{'id': 612, 'na...|
| 9273|[{'id': 409, 'nam...|
|11517|[{'id': 380, 'nam...|
+-----+--------------------+
only showing top 20 rows

In [16]:
missing_values(keywords)

+---+--------+
| id|keywords|
+---+--------+
|  0|       0|
+---+--------+

There are 46 419 keywords used to judge a movie

In [17]:
keywords.summary().show()

+-------+------------------+--------------------+
|summary|                id|            keywords|
+-------+------------------+--------------------+
|  count|             46419|               46419|
|   mean|109769.95187315538|                null|
| stddev|113045.78025568495|                null|
|    min|               100|"[{'id': 1005, 'n...|
|    25%|           26809.0|                null|
|    50%|           61178.0|                null|
|    75%|          159897.0|                null|
|    max|              9999|[{'id': 9991, 'na...|
+-------+------------------+--------------------+

## Links between IMDB and TMBD movies

In [30]:
links = read("links_small.csv")

In [31]:
links.show()

+-------+-------+------+
|movieId| imdbId|tmdbId|
+-------+-------+------+
|      1|0114709|   862|
|      2|0113497|  8844|
|      3|0113228| 15602|
|      4|0114885| 31357|
|      5|0113041| 11862|
|      6|0113277|   949|
|      7|0114319| 11860|
|      8|0112302| 45325|
|      9|0114576|  9091|
|     10|0113189|   710|
|     11|0112346|  9087|
|     12|0112896| 12110|
|     13|0112453| 21032|
|     14|0113987| 10858|
|     15|0112760|  1408|
|     16|0112641|   524|
|     17|0114388|  4584|
|     18|0113101|     5|
|     19|0112281|  9273|
|     20|0113845| 11517|
+-------+-------+------+
only showing top 20 rows

In [32]:
links.summary().show()

+-------+------------------+-----------------+-----------------+
|summary|           movieId|           imdbId|           tmdbId|
+-------+------------------+-----------------+-----------------+
|  count|              9125|             9125|             9112|
|   mean|31123.291835616437|479824.3923287671|39104.54554433714|
| stddev| 40782.63360397416|743177.3608435562|62814.51980132846|
|    min|                 1|          0000417|              100|
|    25%|            2850.0|          88846.0|           9451.0|
|    50%|            6290.0|         119778.0|          15850.0|
|    75%|          164979.0|        5794766.0|         416437.0|
|    max|             99992|          5794766|             9995|
+-------+------------------+-----------------+-----------------+

In [33]:
missing_values(links)

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      0|     0|    13|
+-------+------+------+

In [35]:
# Delete nan values
links = links.filter(~links.tmdbId.isNull())
links.summary().show()

+-------+------------------+------------------+-----------------+
|summary|           movieId|            imdbId|           tmdbId|
+-------+------------------+------------------+-----------------+
|  count|              9112|              9112|             9112|
|   mean|31104.671861281826|479826.15046093066|39104.54554433714|
| stddev| 40775.25279748233| 743376.3730049542|62814.51980132846|
|    min|                 1|           0000417|              100|
|    25%|            2850.0|           88814.0|           9451.0|
|    50%|            6287.0|          119783.0|          15850.0|
|    75%|          164979.0|         5794766.0|         416437.0|
|    max|             99992|           5794766|             9995|
+-------+------------------+------------------+-----------------+

Metadata 


*   Belongs to Collection
*   Budget
*   Genres
*   Homepage
*   Original Language
*   Adult of Not
*   Original Title
*   Overview
*   Popularity
*   Poster Path
*   Production Companies
*   Production Countries
*   Release Date
*   Revenue
*   Runtime
*   Spoken Languages
*   Status (released)
*   Tagline
*   Title
*   Video
*   Vote Average
*   Vote Count

In [54]:
movies_metadata = read("movies_metadata.csv")
movies_metadata.show()

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|   False|                 7.7|             5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|
|False|                 null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|   Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                null|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|          1995-02-10|            76578911|               106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|   False|                 5.7|              173|
|False|                 null|60000000|[{'id': 28, 'name...|                null|  949|tt0113277|               en|                Heat|Obsessive master ...| 17.924927|/zMyfPUelumio3tiD...|[{'name': 'Regenc...|[{'iso_3166_1': '...|          1995-12-15|           187436818|               170.0|[{'iso_639_1': 'e...|Released|A Los Angeles Cri...|                Heat|   False|                 7.7|             1886|
|False|                 null|58000000|[{'id': 35, 'name...|                null|11860|tt0114319|               en|             Sabrina|An ugly duckling ...|  6.677277|/jQh15y5YB7bWz1Nt...|[{'name': 'Paramo...|[{'iso_3166_1': '...|          1995-12-15|                   0|               127.0|[{'iso_639_1': 'f...|Released|You are cordially...|             Sabrina|   False|                 6.2|              141|
|False|                 null|       0|[{'id': 28, 'name...|                null|45325|tt0112302|               en|        Tom and Huck|A mischievous you...|  2.561161|/sGO5Qa55p7wTu7FJ...|[{'name': 'Walt D...|[{'iso_3166_1': '...|          1995-12-22|                   0|                97.0|[{'iso_639_1': 'e...|Released|The Original Bad ...|        Tom and Huck|   False|                 5.4|               45|
|False|                 null|35000000|[{'id': 28, 'name...|                null| 9091|tt0114576|               en|        Sudden Death|International act...|   5.23158|/eoWvKD60lT95Ss1M...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-12-22|            64350171|               106.0|[{'iso_639_1': 'e...|Released|Terror goes into ...|        Sudden Death|   False|                 5.5|              174|
|False| {'id': 645, 'name...|58000000|[{'id': 12, 'name...|http://www.mgm.co...|  710|tt0113189|               en|           GoldenEye|James Bond must u...| 14.686036|/5c0ovjT41KnYIHYu...|[{'name': 'United...|[{'iso_3166_1': '...|          1995-11-16|           352194034|               130.0|[{'iso_639_1': 'e...|Released|No limits. No fea...|           GoldenEye|   False|                 6.6|             1194|
|False|                 null|62000000|[{'id': 35, 'name...|                null| 9087|tt0112346|               en|The American Pres...|Widowed U.S. pres...|  6.318445|/lymPNGLZgPHuqM29...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-11-17|           107879496|               106.0|[{'iso_639_1': 'e...|Released|Why can't the mos...|The American Pres...|   False|                 6.5|              199|
|False|                 null|       0|[{'id': 35, 'name...|                null|12110|tt0112896|               en|Dracula: Dead and...|When a lawyer sho...|  5.430331|/xve4cgfYItnOhtzL...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-12-22|                   0|                88.0|[{'iso_639_1': 'e...|Released|                null|Dracula: Dead and...|   False|                 5.7|              210|
|False| {'id': 117693, 'n...|       0|[{'id': 10751, 'n...|                null|21032|tt0112453|               en|               Balto|An outcast half-w...| 12.140733|/gV5PCAVCPNxlOLFM...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-12-22|            11348324|                78.0|[{'iso_639_1': 'e...|Released|Part Dog. Part Wo...|               Balto|   False|                 7.1|              423|
|False|                 null|44000000|[{'id': 36, 'name...|                null|10858|tt0113987|               en|               Nixon|An all-star cast ...|     5.092|/cICkmCEiXRhvZmbu...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|          1995-12-22|            13681765|               192.0|[{'iso_639_1': 'e...|Released|Triumphant in Vic...|               Nixon|   False|                 7.1|               72|
|False|                 null|98000000|[{'id': 28, 'name...|                null| 1408|tt0112760|               en|    Cutthroat Island|Morgan Adams and ...|  7.284477|/odM9973kIv9hcjfH...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|          1995-12-22|            10017322|               119.0|[{'iso_639_1': 'e...|Released|The Course Has Be...|    Cutthroat Island|   False|                 5.7|              137|
|False|                 null|52000000|[{'id': 18, 'name...|                null|  524|tt0112641|               en|              Casino|The life of the g...| 10.137389|/xo517ibXBDdYQY81...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-11-22|           116112375|               178.0|[{'iso_639_1': 'e...|Released|No one stays at t...|              Casino|   False|                 7.8|             1343|
|False|                 null|16500000|[{'id': 18, 'name...|                null| 4584|tt0114388|               en|Sense and Sensibi...|Rich Mr. Dashwood...| 10.673167|/lA9HTy84Bb6ZwNey...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-12-13|           135000000|               136.0|[{'iso_639_1': 'e...|Released|Lose your heart a...|Sense and Sensibi...|   False|                 7.2|              364|
|False|                 null| 4000000|[{'id': 80, 'name...|                null|    5|tt0113101|               en|          Four Rooms|It's Ted the Bell...|  9.026586|/eQs5hh9rxrk1m4xH...|[{'name': 'Mirama...|[{'iso_3166_1': '...|          1995-12-09|             4300000|                98.0|[{'iso_639_1': 'e...|Released|Twelve outrageous...|          Four Rooms|   False|                 6.5|              539|
|False| {'id': 3167, 'nam...|30000000|[{'id': 80, 'name...|                null| 9273|tt0112281|               en|Ace Ventura: When...|Summoned from an ...|  8.205448|/wRlGnJhEzcxBjvWt...|[{'name': 'O Ente...|[{'iso_3166_1': '...|          1995-11-10|           212385533|                90.0|[{'iso_639_1': 'e...|Released|New animals. New ...|Ace Ventura: When...|   False|                 6.1|             1128|
|False|                 null|60000000|[{'id': 28, 'name...|                null|11517|tt0113845|               en|         Money Train|A vengeful New Yo...|  7.337906|/jSozzzVOR2kfXgTU...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-11-21|            35431113|               103.0|[{'iso_639_1': 'e...|Released|Get on, or GET OU...|         Money Train|   False|                 5.4|              224|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
only showing top 20 rows

In [55]:
movies_metadata.summary().show()

+-------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+------------------+--------------------+
|summary|              adult|belongs_to_collection|              budget|              genres|            homepage|                  id|             imdb_id| original_language|                     original_title|            overview|          popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|              status|             tagline|          title|             video|      vote_average|          vote_count|
+-------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+------------------+--------------------+
|  count|              45572|                 4591|               45555|               45549|                7937|               45541|               45447|             45527|                              45540|               44587|               45452|               45091|               45448|               45452|               45378|               45436|               45168|               45408|               45327|               22440|          44794|             45019|             45074|               45183|
|   mean|               null|   1.5354219545454546|   4203051.501341431|  1.3762527647058822|  1.20138598385652E7|  108472.07353084827|  3192598.2306698407|40425.985977624114|                           Infinity|   61.84533946428571|  3.1106206005800416|    46144.4398346031|  3.5551602112125193|   2.744871749529189|   9.423253799999996|1.1206018808585253E7|  293405.09809016186|   5608877.629380201|   2768004.114455496|   3069067.330101197|       Infinity|254436.28771001368|20598.944891606156|     4478.2556262012|
| stddev|               null|   2.8947605310025293|1.7390388213250447E7|  1.4278676612523276|2.5757755423365697E7|  112491.49204501462|1.5959850652741542E7| 75151.75502384249|                                NaN|   52.90864238731892|  17.895195212421676|  1374126.2186866328|   7.798204492777607|    5.13682109842022|  102.16439163497273|6.4880927370764084E7|    9024684.88285565| 3.837398626293824E7|1.9379730911569547E7| 4.092906602844209E7|            NaN|2549120.9999266504| 2176632.420832573|   389883.2986878286|
|    min| (Post-apocalypse)"|  ""NO DOWN PAYMEN...| ""The Adventure ...|  ""His Last Bow""."| 'backdrop_path':...|              1978."|             252 252|    Rachel Roberts|                        Janice Rule|                    | "" a fearful soc...|  Simon Sparrow's...| ""A Woman in the...|  The Kentucky Fr...|  and Saturday Ni...| ""An Affirmative...| ""Prosecuting Ca...| ""Slave of Love"...| ""Nightmare on E...| ""Playboy After ...|               |      'id': 10254}|      ""Raw Deal""| ""Taking Chances...|
|    25%|               null|             0.057375|                 0.0|            0.445493|                 0.0|             26516.0|                 0.0|             131.0|                                4.0|                 0.0|            0.389144|            0.327614|            0.494284|            0.312089|            0.350938|                 0.0|                84.0|                 0.0|                 0.0|                 0.0|            0.0|               0.0|               5.0|                 3.0|
|    50%|               null|             0.152869|                 0.0|            0.640779|                 0.0|             60080.0|                 0.0|           11179.0|                               42.0|                79.0|            1.136578|            1.105624|            1.319694|            1.065865|                 1.0|                 0.0|                94.0|                84.0|                78.0|                83.0|           67.0|              85.0|               6.0|                 9.0|
|    75%|               null|             1.931659|                 0.0|            1.362069|               1.0E7|            157384.0|                 0.0|           36996.0|                             1066.0|               106.0|            3.742824|            3.744449|            4.423289|            3.859495|                 3.0|                 0.0|               106.0|               101.0|                98.0|               101.0|          101.0|             100.0|               6.8|                34.0|
|    max|               True| {'id': 99727, 'na...|              998000|[{'name': 'WhiteF...|https://zeitgeist...|[{'name': 'Warner...|           tt7158814|                zu|ＳＭガールズ セイバーマリオネットＲ|…ere erera baleib...|                귀향|” takes the trope...|who lives with ec...|if you like Japan...|Приключения Шерло...|[{'name': 'Ритм',...|” ""Revue"" illus...|[{'name': 'mark e...|violence and non-...|    李麗珍蜜桃成熟時|劇場版 クラナド|         ¡Cuba Sí!|        Üvegtigris|       Убить дракона|
+-------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+-----------------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+------------------+--------------------+

In [56]:
missing_values(movies_metadata)

TypeError: ignored

In [59]:
# delete missing values
movies_metadata = movies_metadata.na.drop(thresh=24, how='all')

In [60]:
movies_metadata.show()

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|  revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|False| {'id': 645, 'name...|58000000|[{'id': 12, 'name...|http://www.mgm.co...|  710|tt0113189|               en|           GoldenEye|James Bond must u...| 14.686036|/5c0ovjT41KnYIHYu...|[{'name': 'United...|[{'iso_3166_1': '...|  1995-11-16|352194034|  130.0|[{'iso_639_1': 'e...|Released|No limits. No fea...|           GoldenEye|False|         6.6|      1194|
|False| {'id': 43563, 'na...| 3500000|[{'id': 35, 'name...|http://www.newlin...|10634|tt0113118|               en|              Friday|Craig and Smokey ...|  14.56965|/kkoGT4bnK5oGiNbz...|[{'name': 'New Li...|[{'iso_3166_1': '...|  1995-04-26| 28215918|   91.0|[{'iso_639_1': 'e...|Released|A lot can go down...|              Friday|False|         7.0|       513|
|False| {'id': 10924, 'na...|19000000|[{'id': 27, 'name...|http://www.mirama...|  755|tt0116367|               en| From Dusk Till Dawn|Seth Gecko and hi...| 15.339153|/ce0d4kM5KxT4x1Oq...|[{'name': 'A Band...|[{'iso_3166_1': '...|  1996-01-19| 25836616|  108.0|[{'iso_639_1': 'e...|Released|One night is all ...| From Dusk Till Dawn|False|         6.9|      1644|
|False| {'id': 439053, 'n...| 2000000|[{'id': 35, 'name...|http://miramax.co...| 5894|tt0112541|               en|    Blue in the Face|Auggie runs a sma...| 11.528147|/qa9yf3OlfXbYBb0a...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  1995-09-15|  1275000|   83.0|[{'iso_639_1': 'e...|Released|Welcome to the pl...|    Blue in the Face|False|         6.8|        28|
|False| {'id': 286162, 'n...|15000000|[{'id': 28, 'name...|http://www.powerr...| 9070|tt0113820|               en|Mighty Morphin Po...|Power up with six...|  7.024227|/A3ijhraMN0tvpDnP...|[{'name': 'Twenti...|[{'iso_3166_1': '...|  1995-06-30| 66000000|   92.0|[{'iso_639_1': 'e...|Released|    The Power Is On!|Mighty Morphin Po...|False|         5.2|       153|
|False| {'id': 182813, 'n...|   27000|[{'id': 35, 'name...|http://www.mirama...| 2292|tt0109445|               en|              Clerks|Convenience and v...| 10.513367|/dmNytzvQTjylI83q...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  1994-09-13|  3151130|   92.0|[{'iso_639_1': 'e...|Released|Just because they...|              Clerks|False|         7.4|       769|
|False| {'id': 10, 'name'...|11000000|[{'id': 12, 'name...|http://www.starwa...|   11|tt0076759|               en|           Star Wars|Princess Leia is ...| 42.149697|/btTdmkgIvOi0FFip...|[{'name': 'Lucasf...|[{'iso_3166_1': '...|  1977-05-25|775398007|  121.0|[{'iso_639_1': 'e...|Released|A long time ago i...|           Star Wars|False|         8.1|      6778|
|False| {'id': 144200, 'n...|35000000|[{'id': 16, 'name...|http://www.sonypi...|22586|tt0111333|               en|   The Swan Princess|The beautiful pri...|  8.910462|/oYp2bckWNBKOIbzn...|[{'name': 'Rich A...|[{'iso_3166_1': '...|  1994-11-18|  9771658|   89.0|[{'iso_639_1': 'e...|Released|An enchanting cla...|   The Swan Princess|False|         6.5|       251|
|False| {'id': 94032, 'na...|45000000|[{'id': 10751, 'n...|http://movies.dis...| 8587|tt0110357|               en|       The Lion King|A young lion cub ...| 21.605761|/bKPtXn9n4M4s8vvZ...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  1994-06-23|788241776|   89.0|[{'iso_639_1': 'e...|Released|Life's greatest a...|       The Lion King|False|         8.0|      5520|
|False| {'id': 328, 'name...|63000000|[{'id': 12, 'name...|http://www.jurass...|  329|tt0107290|               en|       Jurassic Park|A wealthy entrepr...|  8.863776|/c414cDeQ9b6qLPLe...|[{'name': 'Univer...|[{'iso_3166_1': '...|  1993-06-11|920100000|  127.0|[{'iso_639_1': 'e...|Released|An adventure 65 m...|       Jurassic Park|False|         7.6|      4956|
|False| {'id': 422837, 'n...|28000000|[{'id': 878, 'nam...|http://www.warner...|   78|tt0083658|               en|        Blade Runner|In the smog-choke...| 96.272374|/p64TtbZGCElxQHpA...|[{'name': 'Shaw B...|[{'iso_3166_1': '...|  1982-06-25| 33139618|  117.0|[{'iso_639_1': 'e...|Released|Man has made his ...|        Blade Runner|False|         7.9|      3833|
|False| {'id': 9888, 'nam...|18000000|[{'id': 35, 'name...|https://www.foxco...|  771|tt0099785|               en|          Home Alone|Eight-year-old Ke...|  0.702543|/8IWPBT1rkAaI8Kpk...|[{'name': 'Twenti...|[{'iso_3166_1': '...|  1990-11-09|476684675|  103.0|[{'iso_639_1': 'e...|Released|A Family Comedy W...|          Home Alone|False|         7.1|      2487|
|False| {'id': 86027, 'na...|28000000|[{'id': 16, 'name...|http://movies.dis...|  812|tt0103639|               en|             Aladdin|Princess Jasmine ...| 16.357419|/7f53XAE4nPiGe9Xp...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  1992-11-25|504050219|   90.0|[{'iso_639_1': 'e...|Released|       Wish granted!|             Aladdin|False|         7.4|      3495|
|False| {'id': 153010, 'n...|25000000|[{'id': 10749, 'n...|http://disney.go....|10020|tt0101414|               en|Beauty and the Beast|Follow the advent...| 23.433511|/b9QJr2oblOu1grgO...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  1991-11-13|377350553|   84.0|[{'iso_639_1': 'f...|Released|The most beautifu...|Beauty and the Beast|False|         7.5|      3029|
|False| {'id': 87359, 'na...|80000000|[{'id': 12, 'name...|http://www.missio...|  954|tt0117060|               en| Mission: Impossible|When Ethan Hunt, ...| 15.793477|/vmj2PzTLC6xJvshp...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  1996-05-22|457696359|  110.0|[{'iso_639_1': 'e...|Released|Expect the Imposs...| Mission: Impossible|False|         6.7|      2677|
|False| {'id': 529, 'name...|       0|[{'id': 10751, 'n...|http://www.wallac...|  532|tt0112691|               en|       A Close Shave|Wallace falls in ...|  6.796858|/efFW4euBJIha6WVJ...|[{'name': 'Aardma...|[{'iso_3166_1': '...|  1995-12-24|        0|   30.0|[{'iso_639_1': 'e...|Released|From the Oscar-wi...|       A Close Shave|False|         7.5|       223|
|False| {'id': 303969, 'n...|       0|[{'id': 18, 'name...|http://worldcinem...|77771|tt0070820|               wo|         Touki-Bouki|A cowherd with a ...|  0.043903|/che94e6wSm9TWLun...|[{'name': 'Studio...|[{'iso_3166_1': '...|  1973-07-01|        0|   85.0|[{'iso_639_1': 'a...|Released|The Journey of th...|         Touki Bouki|False|         7.3|        10|
|False| {'id': 424202, 'n...| 4000000|[{'id': 18, 'name...|http://www.mirama...|  627|tt0117951|               en|       Trainspotting|Renton, deeply im...| 19.348466|/p1O3eFsdb0GEIYu8...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  1996-02-23| 16491080|   93.0|[{'iso_639_1': 'e...|Released|        Choose life.|       Trainspotting|False|         7.8|      2737|
|False| {'id': 115838, 'n...|50000000|[{'id': 28, 'name...|http://www.theoff...|10061|tt0116225|               en|    Escape from L.A.|This time, a cata...| 12.229381|/rAjz6XFC6Zs07ora...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  1996-08-09| 42277365|   97.0|[{'iso_639_1': 'e...|Released|      Snake Is Back.|    Escape from L.A.|False|         5.6|       381|
|False| {'id': 230, 'name...| 6000000|[{'id': 18, 'name...|http://www.thegod...|  238|tt0068646|               en|       The Godfather|Spanning the year...| 41.109264|/rPdtLWNsZmAtoZl9...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  1972-03-14|245066411|  175.0|[{'iso_639_1': 'e...|Released|An offer you can'...|       The Godfather|False|         8.5|      6024|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
only showing top 20 rows

2. Predict Movie Revenues and Vote averages

In [41]:
from pyspark.ml.regression import LinearRegression
model = LinearRegression()

In [48]:
# analysis of revenues
import matplotlib.pyplot as plt
import seaborn as sb


#movies_metadata.select('revenue') = movies_metadata.select('revenue').str[1:]
  
for col in ['revenue', 'release_date']:
    movies_metadata[col] = movies_metadata[col].str.replace(',', '')
  
    # Selecting rows with no null values
    # in the columns on which we are iterating.
    temp = (~movies_metadata[col].isnull())
    movies_metadata[temp][col] = movies_metadata[temp][col].convert_dtypes(float)
  
    movies_metadata[col] = pd.to_numeric(movies_metadata[col], errors='coerce')

features = ['revenue', 'release_date']
movies = movies_metadata.toPandas()
print(movies)
plt.subplots(figsize=(15, 5))
for i, col in enumerate(features):
    plt.subplot(1, 3, i+1)
    sb.distplot(movies[col])
plt.tight_layout()
plt.show()

TypeError: ignored

In [52]:
movies_metadata.show()

AttributeError: ignored

In [51]:
movies_metadata.select(mean('revenue'))

AttributeError: ignored

In [ ]:
X_train, y_train = 
# y : movie revenue, vote average

# gridsearchcv

Recommender : annoy
Build regression models to predict movie revenue and vote
averages.

Use collaborative filtering to build a movie recommendation
system with two functions